{% extends 'encyclopedia/layout.html' %}

{% block body %}

    <h1>Edit {{ title }} </h1>
    <form action="{% url 'posted' %}" method="post">
        {% csrf_token %}

        <div>
            <textarea style="height: auto" rows="10" id="body" name="page" required="True"> 
            {{page}}
            </textarea>
        </div>
        <div>
            <input type="hidden" name = "title" value= '{{title}}'>
            <input type="submit" value = "Submit">
        </div>
    </form>
    


{% endblock %}