{% extends "network/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
    
    <div class="tweetbox">
        <form action = '{% url "newtweet" %}', method="Post" id="tweetform">
            {% csrf_token %}
            <input type="hidden" name="page" value = {{request.path}}>
            <div>
                <span>
                    <textarea id="newtweet" name="body" maxlength="140" rows = '3' placeholder="Tweet" required="True"></textarea>
                </span>
           </div>
            <div id="tweet-btn-box">
                <button id="tweet-btn" type="submit">Tweet</button>
            </div>
            
        </form>
    </div>

    {% for tweet in tweets %}
    <div class="displaybox">
        <div class="display-author">
            <a href = '{% url "viewprofile" tweet.author %}' style="color:black;">u/{{tweet.author}}</a>
        </div>
        <div class="display-date">
            {{tweet.time}}
        </div>
        <div class="display-text">
            {{tweet.tweet}}
        </div>
        <div class="display-likes">
            <button class="like-btn" id='like-btn-{{tweet.id}}' type="submit" data-id="{{tweet.id}}" data-likes = {{tweet.likes}}>Like</button>
            <div class= 'likecount' id="container-{{tweet.id}}">
                {% if tweet.likes == 1 %}
                {{tweet.likes}} Like
                {% else %}
                {{tweet.likes}} Likes
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
<div>
    Sign in to see your feed.
</div>
{% endif %}
{% endblock %}