{% extends "auctions/layout.html" %}


{% block body%}
<p>
    2fa stuff here
</p>
<p>
    idk probably need to render a qr code and change model to have '2fa enabled = True'
</p>
<div style="background-color: white; width:fit-content;">
    {% load qr_code %}
    {% qr_from_text code size="m" %}
</div>

<div>
    <form action="twofactor" method="post">
        {% csrf_token %}
        <label for="code">Enter Your Code:</label>
        <input type="text" name="auth_code">
        <input type="submit" value="Enter">
    </form>


</div>

{% endblock %}