{% extends "auctions/layout.html" %}


{% block body%}
<p>Change Email</p>

<div>
    <div>{{message}}</div>
    <form action="changemail" method="post">
        {% csrf_token %}
        <div>
            <label for='newemail'>New Email:</label>
            <input type="email" name="new_email">
        </div>
        <div>
            <label for='newemail'>Confirm Address:</label>
            <input type="email" name="confirmation">
        </div>
        <input type="submit" value="Change">
    </form>
</div>

{% endblock %}