{% extends "auctions/layout.html" %}

<div>
    {% block body %}
    <h2>Active Listings</h2>
    <div class = 'flex-container'>
        {% for item in listings %}
        <div class="flex-child">
            <form action="listing" method="get">
                <input type="hidden" id='item' name='item' value="{{item.id}}">
                <button type="submit" class="center">
                    <table class="flex-container" style="height:auto">
                        <tr>
                            {% if item.Image %}
                            <td >
                                <img class='image' src="{{item.Image.url}}" alt="Item Image">
                            </td>
                            
                            {% endif %}
                            <td style="width:auto;text-align: center;">
                                <table style='vertical-align:top; text-align: center; width: 100%;'>
                                    <tr >
                                        <td>
                                            <h3 style="text-align:center; font-weight: 550; vertical-align: top;">{{ item.Title }}</h3>
 
                                        </td>
                                    </tr>
                                   <tr>
                                        <td style="text-align: left">
                                            <strong>Price:</strong>  ${{ item.Starting_bid }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 75px; text-align: left;">
                                            <strong>Description: </strong>{{ item.Description }}
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td>
                                            Seller: {{ item.Seller }}
                                        </td>                     
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </button>    
            </form>
        </div>
        {% endfor %}
    </div>

    {% endblock %}
</div>
